{% extends 'main/base.html' %}

{% block title %} Инфо {% endblock %}

{% block content %}


<h1 align="center"> О товаре {{object.name}}</h1>

<div class="card px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="width: 24rem;">
  <div class="card-body">
    <h5 class="card-title">{{ object.nomination | upper}}</h5>
    <p class="card-text">Описание: {{ object.description }}</p>
    <p class="card-text">Категория: {{ object.category }}</p>
    <p class="card-text">Дата создания: {{ object.created_at }}</p>
    <p class="card-text">Дата последнего изменения: {{ object.updated_at }}</p>

    <a href="#" class="btn btn-primary"> Стоимость {{object.price | floatformat:'2'}} руб</a>
  </div>
</div>
{% endblock %}